<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Lost Password
      </ion-title>
    </ion-toolbar>
    <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
    <ion-searchbar></ion-searchbar>
  </ion-header>

<ion-content padding>
    <main>
      <ul>
        <li>Your Secret Key</li>
        <ul>
          <li>You need a secret key to change your account passowrd. Do not have one? Click here to obtain a new key!</li>
        </ul>
        <li>Password</li>
        <ul>
          <li>Min 8 characters</li>
          <li>Required</li>
          <li>Must contain at least 2 of the following</li>
          <ul>
            <li>Capital letters</li>
            <li>Lowercase letters</li>
            <li>Numbers</li>
            <li>Special Characters</li>
            <li>Any characters that shouldn't be allowed?</li>
          </ul>
        </ul>
        <li>Confirm your password</li>
        <li>Site generated Antispam Question</li>

      </ul>

    </main>
    <ion-footer>
      <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service #</p>
    </ion-footer>
</ion-content>
