<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Event Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-header>
      <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
      <ion-searchbar></ion-searchbar>
    </ion-header>
  
    <main>
      <div class="styleA">
        <h2 class="date">Monday 28, 2019</h2>
  
        <div class="event">
          <ion-img id="whole" src="../../assets/openMicNight.jpg" alt="image placeholder" class="eventImg"></ion-img>
            <p class="eventTime">9:00 pm</p>
            <h3 class="eventName">Open mic</h3>
            <ion-item [routerLink]="'/event-location'" routerDirection="forward">
            <p class="eventLocation">Moscow-Pullman</p>
          </ion-item>
            <section class="eventDescription">
              <p>Pullman’s longest running open mic.  We welcome all talents and skill levels.  Sign ups start at 9 pm</p>
            </section>
            <p class="eventPrice">Price: Free</p>
  
            <ion-button (click)="alert1()">Add to my Calendar</ion-button>
        </div>
      </div>
    </main>

    <ion-footer>
      <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service #</p>
    </ion-footer>
</ion-content>
