<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Event Info</ion-title>
  </ion-toolbar>
  <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
</ion-header>

<ion-content padding>
    <main>
      <div>
        <h1 class="eventName">{{info.title}}</h1>
        <h3 class="date">{{info.displayTime}}</h3>
  
        <div class="event">
          <ion-img id="whole" src="../../assets/openMicNight.jpg" alt="image placeholder" class="largeImg"></ion-img>
        </div>
        <p>{{info.location.name}}</p>
        <p class="venueAddrress venueApartment venueStreet venueCity venueState venueZip">
          {{info.location.address}} {{info.location.addressSupplement}} {{info.location.city}}, {{info.location.state}} {{info.location.zip}}
        </p>
        <p>{{info.description}}</p>
        <p class="eventPrice">{{info.price}}</p>
        <div class="event">
          <ion-button (click)="alert1()">Add to my Calendar</ion-button>
        </div>
      </div>
    </main>

    <ion-footer>
      <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service</p>
    </ion-footer>
</ion-content>
