<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
  </ion-toolbar>
  <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getEvents($event)" (ionClear)="resetList()"></ion-searchbar>
  <nav>
    <ul class="eventBar">
      <li (click)="goCategories()">Categories</li>
    </ul>
  </nav>
</ion-header>

<ion-content padding>
  <main>
    <div>
      <ion-list>
        <ion-item *ngFor="let item of arr" class="event" (click)=goEventDetails(item)>
          <ion-thumbnail>
            <ion-img src="../../assets/openMicNight.jpg" alt=""></ion-img>
          </ion-thumbnail>
          <ion-label class="infoLabel">
            <p class="eventTime">{{item.displayTime}}</p>
            <br>
            <h3 class="eventName">{{ item.title }}</h3>
            <p class="eventLocation">{{ item.location.name }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </main>

  <ion-footer>
    <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service #</p>
  </ion-footer>
  
</ion-content>

