<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Create An Account</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <ion-header>
      <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
      <ion-searchbar></ion-searchbar>
    </ion-header>
  <main>
  <p>New Account</p>
  <ul>
    <li>Username</li>
    <ul>
      <li>required</li>
      <li>must be unique</li>
    </ul>
    <li>Email</li>
    <ul>
      <li>Must be valid</li>
      <li>Option to have email visible to the public or hidden</li>
      <li>Required</li>
    </ul>
    <li>Password</li>
    <ul>
      <li>Required</li>
      <li>Min 8 characters</li>
      <li>Have at least two of the following</li>
      <ul>
        <li>Capital letters</li>
        <li>Lowercase letters</li>
        <li>Numbers</li>
        <li>Special Characters</li>
        <li>Any special characters that won't work?</li>
      </ul>
  </ul>
  <li>Confirm password</li>
  <ul>
    <li>Must match other password</li>
    <li>Required</li>
  </ul>
  <li>Are you a human?</li>
  <ul>
    <li>Required</li>
    <li>A random math question will be asked by site</li>
  </ul>
  <li>Profile Details</li>
  <ul>
    <li>Profile Display Name</li>
    <li>Profile Picture</li>
    <ul>
      <li>Upload a photo</li>
      <li>Take a photo</li>
    </ul>
    <li>Gender</li>
    <ul>
      <li>Male</li>
      <li>Female</li>
      <li>Culturally approproate?</li>
    </ul>
    <li>Select your Country/Region</li>
    <li>Facebook link</li>
    <li>Twitter link</li>
    <li>Google+ link</li>
    <li>Personal website link</li>
  </ul>
  </main>
  <ion-footer>
    <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service #</p>
  </ion-footer>
</ion-content>
