<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Share Your Snaps
    </ion-title>
  </ion-toolbar>
  <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content padding>
  <main>
    <div class="styleA">
      <h2 class="snapsTopic">Outdoors</h2>
      <ion-img id="whole" src="../../assets/outdoorsA.jpg" alt="image placeholder" class="snapsImg"></ion-img>
      <ion-img id="whole" src="../../assets/OutdoorsB.jpg" alt="image placeholder" class="snapsImg"></ion-img>
      <ion-img id="whole" src="../../assets/OutdoorsC.jpg" alt="image placeholder" class="snapsImg"></ion-img>
    </div>

    <div class="styleA">
      <h2 class="snapsTopic">Kids and Family</h2>
      <ion-img id="whole" src="../../assets/kfA.jpg" alt="image placeholder" class="snapsImg"></ion-img>
      <ion-img id="whole" src="../../assets/kfB.jpg" alt="image placeholder" class="snapsImg"></ion-img>
      <ion-img id="whole" src="../../assets/kfC.jpg" alt="image placeholder" class="snapsImg"></ion-img>
    </div>

    <div class="styleA">
      <h2 class="snapsTopic">Events</h2>
      <ion-img id="whole" src="../../assets/eventA.jpg" alt="image placeholder" class="snapsImg"></ion-img>
      <ion-img id="whole" src="../../assets/eventB.jpg" alt="image placeholder" class="snapsImg"></ion-img>
      <ion-img id="whole" src="../../assets/eventC.jpg" alt="image placeholder" class="snapsImg"></ion-img>
    </div>
  </main>

  <ion-footer>
    <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service #</p>
  </ion-footer>
  
</ion-content>

