<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Upload a Photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-header>
      <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
      <ion-searchbar></ion-searchbar>
    </ion-header>
    <main>
      <h1>Upload</h1>
      <ion-input type="text" name = "username" placeholder = "username or email" [(ngModel)]="login_username"></ion-input>
      <ion-input type="password" name = "password" placeholder = "password" [(ngModel)]="login_password"></ion-input>

      <ion-input type="text" name = "image name" placeholder = "image name" [(ngModel)]="image_name"></ion-input>
      <ion-input type="text" name = "image description" placeholder = "image description" [(ngModel)]="image_description"></ion-input>
      <ion-input type="text" name = "contact email address" placeholder = "contact email" [(ngModel)]="contact_email"></ion-input>
      <ion-input type="text" name = "contact number" placeholder = "contact phone" [(ngModel)]="contact_number"></ion-input>

      <button ion-button (click) = "takePhoto()">Take Photo</button> <br>
      <button ion-button (click) = "browsePhotos()">Browse Photos</button> <br>
      <div class = "insert"></div>
    </main>
    <ion-footer>
      <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service #</p>
    </ion-footer>

  </ion-content>
