<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Event Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-header>
      <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
      <ion-searchbar></ion-searchbar>
    </ion-header>
  
    <main>
      <h2>Event name goes here</h2>
      <p>Event Location</p>
      <ion-img id="whole" src="../../assets/openMicNight.jpg" alt="image placeholder" class="eventImg"></ion-img>
    </main>

    <ion-footer>
      <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service #</p>
    </ion-footer>
</ion-content>
