<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inland 360
    </ion-title>
  </ion-toolbar>
  <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item *ngFor="let item of readingIn">
        {{item}}
      </ion-item>
    </ion-list>
  <main>
    <h1><ion-item [routerLink]="'/event-home'" routerDirection="forward">Upcoming Events</ion-item></h1>
    <ion-slides pager="true" [options]="slideOpts">
      <ng-container *ngIf="items">
        <ng-container *ngFor= "let item of eventsxmldata">
          <ion-slide *ngIf="item.date >= todaysDate && weekOut >= item.date">
            <div (click)=goEventDetails(item)>
              <ion-img src="../../assets/openMicNight.jpg" alt="main image placeholder" id="mainImg"></ion-img>
              <h2>{{item.title}}</h2>
              <p>{{item.location.name}}</p>
              <p>{{item.sortTime}}</p>
              <br>
              <br>
            </div>
          </ion-slide>
        </ng-container>
      </ng-container>
    </ion-slides>   
    <div>
      <h2><ion-item [routerLink]="'/Snaps/snaps-upload'" routerDirection="forward">Add a Snap</ion-item></h2>
      <ion-slides pager="true" [options]="slideOpts">
        <ng-container *ngIf="items">
          <ng-container *ngFor= "let item of eventsxmldata">
            <ion-slide *ngIf="item.date >= todaysDate && weekOut >= item.date">
              <div (click)=goEventDetails(item)>
                <ion-img src="{{item.image}}" alt="main image placeholder" id="mainImg"></ion-img>
                <h2>{{item.title}}</h2>
                <p>{{item.location.name}}</p>
                <p>{{item.sortTime}}</p>
                <br>
                <br>
              </div>
            </ion-slide>
          </ng-container>
        </ng-container>
      </ion-slides> 
    </div>
    <div>
      <ion-img src="https://s3.amazonaws.com/FringeBucket/image_placeholder.png" alt="main image placeholder" id ="mainImg"></ion-img>
      <h2><ion-item [routerLink]="'/add-event'" routerDirection="forward">Add an Event</ion-item></h2>
    </div>
  </main>

  <ion-footer>
    <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service #</p>
  </ion-footer>
  
</ion-content>

