<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inland 360
    </ion-title>
  </ion-toolbar>
  <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content padding>
  <main>
    <div>
      <h1><ion-item [routerLink]="'/event-home'" routerDirection="forward">Upcomming Events</ion-item></h1>
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
                <div>
                    <ion-img src="../../assets/openMicNight.jpg" alt="main image placeholder" id="mainImg"></ion-img>
                    <h2>Open mic</h2>
                    <p>Pullman</p>
                    <p>9:00 pm</p>
                    <p><ion-item [routerLink]="'/event-info'" routerDirection="forward">Go to the event page?</ion-item></p>
                </div>
            </ion-slide>
            <ion-slide>
                <div>
                    <ion-img src="../../assets/openMicNight.jpg" alt="main image placeholder" id ="mainImg"></ion-img>
                    <h2>Intuitive Eating Program</h2>
                    <p>Moscow-Pullman</p>
                    <p>9:00 pm</p>
                    <p><ion-item [routerLink]="'/event-info'" routerDirection="forward">Go to the event page?</ion-item></p>
                </div>
            </ion-slide>
            <ion-slide>
                <div>
                    <ion-img src="../../assets/Reid.jpg" alt="main image placeholder" id ="mainImg"></ion-img>
                    <h2>U of I Faculty Recital - James Reid, guitar</h2>
                    <p>Moscow-Pullman</p>
                    <p>9:00 pm</p>
                    <p><ion-item [routerLink]="'/event-info'" routerDirection="forward">Go to the event page?</ion-item></p>
                </div>
            </ion-slide>
          </ion-slides>
    </div>
    <div>
      <ion-img src="https://s3.amazonaws.com/FringeBucket/image_placeholder.png" alt="main image placeholder" id ="mainImg"></ion-img>
    <h2><ion-item [routerLink]="'/snaps-home'" routerDirection="forward">Share Your Snaps</ion-item></h2>
    </div>
    <div>
      <ion-img src="https://s3.amazonaws.com/FringeBucket/image_placeholder.png" alt="main image placeholder" id ="mainImg"></ion-img>
    <h2>Weekly Publication</h2>
      <p>Not sure about this one yet...</p>
  </div>
    <div>
      <ion-img src="https://s3.amazonaws.com/FringeBucket/image_placeholder.png" alt="main image placeholder" id ="mainImg"></ion-img>
      <h2><ion-item [routerLink]="'/add-event'" routerDirection="forward">Adding a community event</ion-item></h2>
      <p>Make this function more user friendly</p>
    </div>
  </main>

  <ion-footer>
    <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service #</p>
  </ion-footer>
  
</ion-content>

