<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inland 360
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-header>
    <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
    <ion-searchbar></ion-searchbar>
  </ion-header>

  <main>
    <div>
      <ion-img src="../../assets/openMicNight.jpg" alt="main image placeholder" id ="mainImg"></ion-img>
      <h2>Events Calendar</h2>
      <p>Pullman’s longest running open mic.  We welcome all talents and skill levels.  Sign ups start at 9 pm</p>
      <p>View more</p>
      <br>
      <p>Have a way to add events to user's device</p>
      <p>Make this into an Events slider (like Inland 360s home page)</p>
      <p>https://www.spingo.com/submit/?partnerId=2257</p>

      <br>

      <p><a href="../event-a/event-a.module#EventAPageModule'">Go to the event page?</a></p>
    </div>
    <div>
      <ion-img src="https://s3.amazonaws.com/FringeBucket/image_placeholder.png" alt="main image placeholder" id ="mainImg"></ion-img>
    <h2>Share Your Snaps</h2>
      <p>https://inland360.com/share-your-snaps/</p>
    </div>
    <div>
      <ion-img src="https://s3.amazonaws.com/FringeBucket/image_placeholder.png" alt="main image placeholder" id ="mainImg"></ion-img>
    <h2>Weekly Publication</h2>
      <p>Not sure about this one yet...</p>
  </div>
    <div>
      <ion-img src="https://s3.amazonaws.com/FringeBucket/image_placeholder.png" alt="main image placeholder" id ="mainImg"></ion-img>
      <h2>Adding a community event</h2>
      <p>Make this function more user friendly</p>
    </div>
  </main>

  <ion-footer>
    <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service #</p>
  </ion-footer>
  
</ion-content>

