<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Password Reset
      </ion-title>
    </ion-toolbar>
    <ion-img id="whole" src="../../assets/inland-360-logo-small.png" alt="image placeholder"></ion-img>
    <ion-searchbar></ion-searchbar>
  </ion-header>

<ion-content padding>
    <main>
      <p>We'll email you a new secret key. Once you obtain the key, you can use it to change your password.</p>
      <p>Username/Email</p>
      <p>AntiSpam Question</p>
      <ul>
        <li>Auto genterated by site, is simple addition problem</li>
      </ul>
      <ion-button>Request Secret Key</ion-button>
      <p>Alert user that email has been sent</p>
      <ion-button>Click here once you have the key</ion-button>
    </main>
    <ion-footer>
      <p>2019 Moscow-Pullman Daily News and Lewiston Tribune. Terms of Service #</p>
    </ion-footer>
</ion-content>
